<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lista de Cores</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/fontawesome-all.css" crossorigin="anonymous">
  <script type="text/javascript" href="js/main.js"></script>
</head>
<body>

  <!-- Nav Bar - Cabecalho -->
  <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="#">The Colors</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/cores">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/cores/add">Adicionar Cores</a>
      </div>
    </div>
  </nav>
  <!-- ===================================================================================================== -->
  <!-- Pagina -->

   <h1> Lista de Cores </h1> <hr>
   <table class="table">
     <thead>
      <tr>
        <th>Codigo</th>
        <th>Descrição</th>
        <th>Referencia</th>
        <th></th>
      </tr>  
    </thead>
    <tbody>

     <% for (cor of cores){%>
     <tr>
      <td><a href=<%= "/cores/views/" + cor.cor_codigo%>><%= cor.cor_codigo%></a></td>  
      <td><%= cor.cor_descricao%></td>
      <td><%= cor.cor_referencia%></td>    
      <td><button class="btn btn-success" onclick="listById(<%= cor.cor_codigo%>);">Ver</button></td>                
    </tr> 
    <%} %>

  </tbody>            
</table>

<script type="text/javascript" href="js/bootstrap.js"></script>
<script type="text/javascript">
  function listById(id){
    alert(id);
  }
</script>
</body>
</html>
